
body {
        background-color: none;
    }


#container {
    background-color: tan;
    width: 100%;
    

header {
    background-image: url('../images/Asset 2.png');
    width: 90%;
    display: flex;
    
}

header h1 {
    font-size: 3em;
    line-height: 110px;
  
    color: black;
    text-align: center;
    text-shadow: 1px 1px 1px maroon;
}
}
nav{
    background-color: goldenrod;
    padding: 5px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li { 
    display: inline-block;
}

nav li a {
    display: block;
    height: 30px;
    width: 120px;
    background-color: darkgreen;
    padding: 10px; 
    color: black;
    font-weight: bold;
    text-decoration: none;

}

nav li a:hover {
    background-color: blanchedalmond;
    
}
main{
    padding: 30px;
}

main h2 {
    text-align: center;
}
#gallery h3 {
    text-align: center;
}

.pics img {
    width: 30%;
    margin: 10px;
    border-radius: 4px;
}

footer {
    text-align: center;
    padding: 20px 0;
}

hr {
    width: 100%;
    color: darkred;
}


