
body {
        background-color: lightgray;
    }


#container {
    background-color: wheat;
    width: 100%;
    

header {
    background-image: url('../images/Asset 2.png');
    display: flex;
    width: 50%;
}

header h1 {
    display: block;
    font-size: 3em;
    line-height: 110px; 
    color: black;
    text-align: center;
    text-shadow: 1px 1px 1px maroon;
}
}
nav{
    background-color: goldenrod;
    padding: 5px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li { 
    display: inline-block;
}

nav li a {
    display: block;
    height: 30px;
    width: 160px;
    margin: 15px;
    background-color: darkred;
    padding: 10px; 
    color: black;
    font-weight: bold;
    text-decoration: none;

}

nav li a:hover {
    background-color: blanchedalmond;
    
}
main{
    padding: 25px;
    
}

main h2 {
    text-align: center;
}
#gallery h2 {
    text-align: center;
}

.pics{
    display: flex;
    padding-left: 4px;
}

.pics img {
    width: 31%;
    margin: 5px;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: darkred;
}

hr {
    width: 100%;
    
}


